.container {
  background-color: white;
}

.heading {
  font-size: xx-large;
  border-bottom: 1px solid #ddd;
  padding: 30px 0 20px;
  margin: 0 30px 30px;
}

.bioListContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bioItem {
  width: 240px;
  height: 300px;
  border: 1px solid;
  margin: 10px 20px 30px;
  text-decoration: none;
  color: black;
}

.bioImage {
  width: 100%;
}

.bioDescription {
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

.bioName {
  margin-bottom: 4px;
}
